.git
.gitignore

venv
__pycache__
*.pyc
*.pyo
*.pyd

.env

.vscode
.idea

data/raw/*
!data/raw/.gitkeep

data/cuad
data/processed/tokenized/cuad_tokenized.jsonl
data/processed/classification/cuad_classification.jsonl

models/clause_classifier
models/legal_ner

*.log

node_modules
frontend/node_modules